html, body {
  overflow-x: hidden;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    .title, .title a {
      &.back:hover {
        border-bottom: 1px solid #43a743;
      }
      margin-bottom: 3rem;
      text-decoration: none;
      font-family: 'Advent Pro', sans-serif;
      color: #958e8e; 
      font-size: 40px;
      top: 5rem;
      font-weight: 500;
      left: 50%;

      text-align: center;
      margin: 0 auto;
      padding: 4rem 0 4rem 0;
    }
    font-family: Arial;
    color: #212121;
    
    #btn_add_action {
        padding: 6px 20px;
        color: #212121;
        text-decoration: none;
        border-radius: 3px;
        cursor: pointer;
        border: #212121 1px solid;
        margin-bottom: 10px;
        display: inline-block;
        & img {
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    
    .container-grid {
        margin-bottom: 30px;
        &.query-list {
          display: block;
        }
        & table {
            width: 100%;
            background-color: #F0F0F0;
            & td {
                background-color: #FFFFFF;
                text-align: center;
                & a {
                  &:hover {
                    color: #43a743;
                  }
                  text-decoration: none;
                  color: black;
                }
            }
        }
        & .btnEditAction {
            cursor: pointer;
            text-decoration: none;
            margin-right: 10px;
        }
        
        & .btnDeleteAction {
            cursor: pointer;
        }
        .add-button, .delete-button {
            text-align: center;
            & button {
              padding: 6px 20px;
              color: #212121;
              text-decoration: none;
              border-radius: 3px;
              cursor: pointer;
              border: #212121 1px solid;
              margin-bottom: 10px;
              background-color: #fff;
              display: inline-block;
              & img {
                vertical-align: middle;
              }
            }
        }

        select#course_name {
          padding: 6px 20px;
          color: #212121;
          text-decoration: none;
          border-radius: 3px;
          cursor: pointer;
          border: #212121 1px solid;
          margin-bottom: 10px;
          background-color: #fff;
          display: inline-block;
        }
    }
    
    form.form-add-edit {
        border: #E0E0E0 1px solid;
        padding: 10px 20px 20px 20px;
        border-radius: 3px;
        & div {
            margin-bottom: 15px;
            & label {
                margin-left: 5px;
            }
            & .info {
                font-size: .8em;
                color: #FF6600;
                letter-spacing: 2px;
                padding-left: 5px;
            }
        }
        & .course_input {
            padding: 10px;
            border: #E0E0E0 1px solid;
            border-radius: 3px;
            width: 250px;
            margin: 5px 0px 10px 0px;
            & .course_input {
                padding: 10px;
                border: #E0E0E0 1px solid;
                border-radius: 3px;
                width: 250px;
                margin: 5px 0px 10px 0px;
            }
        }
        & .btn-submit {
            padding: 8px;
            background: #09F;
            border: #048eec 1px solid;
            color: #FFF;
            font-size: 0.9em;
            border-radius: 3px;
            width: 150px;
        }
    }
    
    .header {
        & ul.menu-list {
            list-style: none;
            margin: 0px 0px 40px 0px;
            padding: 0px;
            background: #E0E0E0;
            border-radius: 3px;
            & li {
                display: inline-block;
                padding: 10px 20px;
                & a {
                    color: #212121;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// Tabs
.container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  p {
    margin: 0 0 20px; 
    line-height: 1.5;
    font-weight: 300;
  }
  .content {
    background: #fff; 
    color: #373737;
    backface-visibility: hidden;
    overflow: hidden;
    padding-top: 2rem;

    width: 50%;
    margin: 0 auto;
  }
  #student_courses {
    display: block;
    & form {
      & div {
        display: inline-block;
      }
    }
  }
  #student_courses~.container {
    display: none;
  }
  .content > div {
    display: none;
  }
  input, select {
    padding: 6px 20px;
    color: #212121;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    border: #212121 1px solid;
    margin-bottom: 10px;
    background-color: #fff;
    display: inline-block;
  }
  input.tabs {
      display: none;
  }
  label.tab-labels {
    color: #43a743;
    font-family: Courier New, monospace;
    font-weight: 100;
    font-size: 35px;
  }
  
  label {
    display: inline-block; 
    padding: 15px 25px; 
    font-weight: 600; 
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-out 0.1s;
  }
  label:hover {
    color: #958e8e; 
    cursor: pointer;
  }
  input:checked + label {
    background: #ffffff;
    color: #958e8e;
    border-bottom: 1px solid;
  }
  
  #tab-1:checked ~ .content #content-1,
  #tab-2:checked ~ .content #content-2,
  #tab-3:checked ~ .content #content-3,
  #tab-4:checked ~ .content #content-4 {
    display: block;
    animation-name: inUp;
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
  }
  
  @media screen and (max-width: 400px) { label {padding: 15px 10px;} }
  
  @keyframes inUp {
    0%{
      opacity: 0;
      transform: translateY(100px)
    }
      90%{
      transform: translateY(-10px)
    }
    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }