body {
    width: 610px;
    font-family: Arial;
    color: #212121;
    
    #btn_add_action {
        padding: 6px 20px;
        color: #212121;
        text-decoration: none;
        border-radius: 3px;
        cursor: pointer;
        border: #212121 1px solid;
        margin-bottom: 10px;
        display: inline-block;
        & img {
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    
    .container-grid {
        margin-bottom: 30px;
        & table {
            width: 100%;
            background-color: #F0F0F0;
            & td {
                background-color: #FFFFFF;
            }
        }
        & .btnEditAction {
            cursor: pointer;
            text-decoration: none;
            margin-right: 10px;
        }
        
        & .btnDeleteAction {
            cursor: pointer;
        }
        .add-button {
            text-align: right;
            margin: 20px 0 10px;
        }
    }
    
    form.form-add-edit {
        border: #E0E0E0 1px solid;
        padding: 10px 20px 20px 20px;
        border-radius: 3px;
        & div {
            margin-bottom: 15px;
            & label {
                margin-left: 5px;
            }
            & .info {
                font-size: .8em;
                color: #FF6600;
                letter-spacing: 2px;
                padding-left: 5px;
            }
        }
        & .course_input {
            padding: 10px;
            border: #E0E0E0 1px solid;
            border-radius: 3px;
            width: 250px;
            margin: 5px 0px 10px 0px;
            & .course_input {
                padding: 10px;
                border: #E0E0E0 1px solid;
                border-radius: 3px;
                width: 250px;
                margin: 5px 0px 10px 0px;
            }
        }
        & .btn-submit {
            padding: 8px;
            background: #09F;
            border: #048eec 1px solid;
            color: #FFF;
            font-size: 0.9em;
            border-radius: 3px;
            width: 150px;
        }
    }
    
    .header {
        & ul.menu-list {
            list-style: none;
            margin: 0px 0px 40px 0px;
            padding: 0px;
            background: #E0E0E0;
            border-radius: 3px;
            & li {
                display: inline-block;
                padding: 10px 20px;
                & a {
                    color: #212121;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}